/* Navigation Bar 
*****************/

.navbar {
	border-bottom: 1px solid rgb(167, 167, 167) !important;
}

.nav-space {
	margin-bottom: 15px;
}

.navbar a {
	font-size: 10pt;
	color: rgba(73, 73, 73, 0.815);
}


/* Header 
*****************/

.jumbotron {
	margin-top: 57px;
	margin-bottom: 0rem;
	background-color: rgba(85, 82, 82, 0.376);
	color: rgb(255, 255, 255);
/*	-webkit-filter: grayscale(1);
	filter: grayscale(1);
*/
}

.force_min_height {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.flex1 {
	flex: 1;
}


/* Content
*****************/

body {
	background-color: rgb(252, 250, 249) !important;
	color: rgba(77, 76, 76, 0.966);
	font-size: 14px;
	font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
	line-height: 1.4285;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.info-lastupdate {
	border-radius: 0px;
}

.danger-lastupdate {
	border-radius: 0px;
}

.warning-lastupdate {
	border-radius: 0px;
}

.success-lastupdate {
	border-radius: 0px;
}

a {
	color: rgba(73, 73, 73, 0.7);
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	transition: all 150ms linear;
}

a:hover {
	color: rgb(44, 43, 43);
	text-decoration: none;
}

a:focus {
	color: rgb(36, 35, 35);
	text-decoration: none;
}


/* Tables 
*****************/

table, th, tr, td {
	border-spacing: 0px;
	border-collapse: none !important;
	text-align: right;
}

table.dataTable {
	clear: both;
	margin-top: 0px !important;
	margin-bottom: 6px !important;
	max-width: none !important;
	border-collapse: separate !important;
}

table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_desc_disabled::before {
	content: none;
}

#table_tasks {
	width: calc(30px + 100%) !important;
	margin-left: -15px;
}

#table_pendings {
	width: calc(30px + 100%) !important;
	margin-left: -15px;
}

.table-200 th :nth-child(0), .table-200 td :nth-child(0) {
	min-width: 200px;
	max-width: 200px;
}

/* Progress Bar 
*****************/

.progress-bar-userstats {
	background-color: rgb(122, 158, 159);
}

.progress-userstats {
	background-color: rgb(221, 221, 221);
	border-radius: 3px;
	box-shadow: none;
	height: 20px;
	position: relative;
}

.progress-bar:not(.progress-bar-userstats) {
	position: absolute;
	top: 2px;
	color: rgb(39, 51, 51);
/*	text-shadow: 0px 0px 2px rgb(0, 0, 0); */
}


/* Footer 
*****************/

.footer {
	padding: 20px;
	font-size: 10pt;
}

.footer a {
	font-size: 10pt;
	color: rgb(170, 166, 166);
}

.footer a:hover {
	font-size: 10pt;
	color: rgb(255, 255, 255);
}


/* Modal 
*****************/

.modal-dialog {
	max-width: 80%;
	margin: 30px auto;
}
