<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteOptions inherit
	
	# Don't show directory listings for URLs which map to a directory.
	Options -Indexes

	#Damit die Errorseiten das gleiche Layout wie die Stats haben
	#muss die Kommentierung hier entfernt werden UND
	#die Datei error.php muss im web-root-Verzeichnis (z.B. /var/www/html/) abgespeichert werden
	#ErrorDocument 400 /error.php?error=400
	#ErrorDocument 401 /error.php?error=401
	#ErrorDocument 402 /error.php?error=402
	#ErrorDocument 403 /error.php?error=403
	#ErrorDocument 404 /error.php?error=404
	#ErrorDocument 405 /error.php?error=405
	#ErrorDocument 406 /error.php?error=406
	#ErrorDocument 407 /error.php?error=407
	#ErrorDocument 408 /error.php?error=408
	#ErrorDocument 409 /error.php?error=409
	#ErrorDocument 410 /error.php?error=410
	#ErrorDocument 411 /error.php?error=411
	#ErrorDocument 412 /error.php?error=412
	#ErrorDocument 413 /error.php?error=413
	#ErrorDocument 414 /error.php?error=414
	#ErrorDocument 415 /error.php?error=415

	#ErrorDocument 500 /error.php?error=500
	#ErrorDocument 501 /error.php?error=501
	#ErrorDocument 502 /error.php?error=502
	#ErrorDocument 503 /error.php?error=503
	#ErrorDocument 504 /error.php?error=504
	#ErrorDocument 505 /error.php?error=505
</IfModule>