body {
color: #2c2c2c;
font-size: 14px;
font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
line-height: 1.4285;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
}

/*
h1, .h1 {
font-size: 4.5em;
}

h5, .h5 {
font-size: 1.25em;
font-weight: 400;
line-height: 1.4em;
margin-bottom: 15px;
}
*/

.jumbotron {
margin-bottom: 0rem;
}


.navbar a {
    font-size: 10pt;
}

a {
color: #68B3C8;
-webkit-transition: all 150ms linear;
-moz-transition: all 150ms linear;
-o-transition: all 150ms linear;
-ms-transition: all 150ms linear;
transition: all 150ms linear;
}

a:hover, a:focus {
color: rgb(170, 206, 218);
text-decoration: none;
}

table, th, tr, td {  
border-spacing: 0px;
border-collapse: none !important;
text-align: right;
}

.borderless td, .borderless th {
    border: none;
}

.info {
background-color: #d9edf7;
}

.success {
background-color: #dff0d8;
}

.warning {
background-color: #FFE28C;
}

.danger {
background-color: #f2dede;
}

.alert-info {
background-color: #7CE4FE;
color: #3091B2;
}

.alert-success {
background-color: #8EF3C5;
color: #42A084;
}

.alert-warning {
background-color: #FFE28C;
color: #BB992F;
}

.alert-danger {
background-color: #FF8F5E;
color: #B33C12;
}

.text-muted {
color: #DDDDDD;
}

.text-primary, .text-primary:hover {
color: #427C89 !important;
}

.text-info, .text-info:hover {
color: #3091B2 !important;
}

.text-success, .text-success:hover {
color: #42A084 !important;
}

.text-warning, .text-warning:hover {
color: #BB992F !important;
}

.text-danger, .text-danger:hover {
color: #B33C12 !important;
}


.force_min_height {
display: flex;
min-height: 100vh;
flex-direction: column;
}

.flex1 {
flex: 1;
}

.footer {
    font-size: 10pt;
}

.footer a {
    font-size: 8pt;
}

.modal-dialog {
max-width: 80%;
margin: 30px auto;
}